:root {
  --color-background-dark: #1f1f1f;
  --color-header-dark: #2b2b2b;
  --color-font-dark: white;
  --border-radius-default: 35px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid black;
  box-shadow: 0 0 0 1px white;
}

body {
  background-color: var(--color-header-dark);
  color: white;
  z-index: 0;
}

main {
  background-color: var(--color-background-dark);
  padding: 70px 10px;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Russo One", sans-serif;
  color: white
}

p, a, button {
  font-family: "Lexend Deca", sans-serif;
  color: white;
}

.classified {
  opacity: 1;
}

.visibility-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.component__wrapper {
  width: 100%;
}

.gradient-border {
  border: none;
  position: relative;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  z-index: -1;
}

.page__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  text-align: center;
}

.page__section:first-of-type {
  padding-top: 40px;
}

.page__title {
  color: var(--color-background-dark);
  text-align: center;
  text-shadow: 0px 0px 15px #4CC9F0;
  font-family: Russo One;
  font-size: 3.4rem;
  line-height: 2.8rem; /* 83.333% */ 
  margin: 2rem auto;
  position: relative;
  width: min-content;
  height: 4rem;
  -webkit-text-stroke: 1.8px #4CC9F0;
  text-transform: uppercase;
}

.page__title::after {
  content: "";
  height: 0.25rem;
  background-color: #7209B7;
  box-shadow: 0px 0px 10px 0px #A428F6;
  width: 120%;
  position: absolute;
  left: -10%;
  bottom: 0;
}

.page__description {
  color: var(--Greyish-White, #E7E7E7);
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 1.4rem;
  padding-bottom: 3rem;
}